.video {
  width: 100%;
  height: 100%;
}

.wrapper {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-out;

  &:hover {
    opacity: 1;
  }

  .played-controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    left: 0;
    right: 0;
    bottom: 0;

    .right-controls {
      display: flex;
      column-gap: 20px;
      align-items: center;
    }
  }
}
